/*===============
      Variable
===============*/
@import '../BreackPoints.scss';

/*===============
      Style
===============*/

.__SH__Slide {
  position: relative;
  margin: auto;

  &:hover {
    .navigation {
      opacity: 1;
    }
  }

  .item {
    width: 100%;
    height: 100%;
    .link {
      .image {
        width: 100%;
        height: 100%;
      }
    }
    &.on {
      display: block !important;
    }
    &.off {
      display: none;
    }
  }

  .navigation {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    opacity: 0;

    .prev, .next {
      position: absolute;
      border: 0;
      padding: 25px;
      cursor: pointer;
      z-index: 10;

      @media screen and (max-width: $BREAK-SM) {
        display: none;
        height: 100%;
      }
    }
    .prev {
      left: 0;
      background-position: 0px 0px;
    }
    .next {
      right: 0;
      background-position: 0px -50px;
    }
  }

  .indicator {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px 0;
    position: absolute;
    text-align: center;
    z-index: 10;
    @media screen and (max-width: $BREAK-SM) {
      margin: 10px 0;
    }

    .indicator-button {
      cursor: pointer;
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0px 3px;
      border-radius: 100%;
      background: #fff;
      opacity: 0.4;
      @media screen and (max-width: $BREAK-SM) {
        width: 10px;
        height: 10px;
      }

      &.on {
        opacity: 1;
      }
    }
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
