/*===============
      Variable
===============*/
@import '../Animations.scss';
@import '../BreackPoints.scss';

/*===============
      Style
===============*/

.__SH__Slide {
  position: relative;
  margin: auto;

  .__SH__Slide__Container {
    .__SH__Slide__Item {
      width: 100%;
      height: 100%;
      .__SH__Slide__Item__Link {
        .__SH__Slide__Item__Image {
          width: 100%;
          height: 100%;
        }
      }
      &.on {
        display: block;
      }
      &.off {
        display: none;
      }
    }

    &:hover {
      .__SH__Slide__Navigation {
        opacity: 1;
      }
    }

    .__SH__Slide__Navigation {
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      // opacity: 0;

      .prev, .next {
        position: absolute;
        border: 0;
        cursor: pointer;
        z-index: 10;

        @media screen and (max-width: $BREAK-SM) {
          display: none;
          height: 100%;
        }
      }
      .prev {
        left: 0;
      }
      .next {
        right: 0;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: none;
        stroke: white;
        stroke-width: 2px;
      }
    }

    .__SH__Slide__Indicator {
      bottom: 0;
      left: 0;
      right: 0;
      margin: 15px 0;
      position: absolute;
      text-align: center;
      z-index: 10;

      @media screen and (max-width: $BREAK-SM) {
        margin: 10px 0;
      }
    }

    .__SH__Slide__Indicator__Button {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0px 3px;
      border-radius: 100%;
      opacity: 0.4;
      cursor: pointer;

      @media screen and (max-width: $BREAK-SM) {
        width: 10px;
        height: 10px;
      }

      &.on {
        opacity: 1;
      }
    }
  }
}
